body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.ppp{
    font-size: 40px;
}
.poc{
    color: rgb(0, 162, 255);
}
#potc{
    display: flex;
    background-image: url(../images/top-banner.png);
    background-repeat: no-repeat;
}
#potc .half{
    width: 50%;
    padding-left: 5%;
}
#potc .half img{
    width: 80%;
    padding-left: 8%;
}
#potc .link_button{
    text-decoration: none;
    color: white;
    font-weight: 700;
    background-image: linear-gradient(rgb(68, 0, 255),rgb(0, 183, 255));
    padding: 10px 40px;
    border-radius: 5px;
    line-height: 50px;
}
#potc2{
    display: flex;
    margin-top: 150px;
}
#potc2 .right{
    width: 50%;
    padding: 5%;
    background-position: right;
    background-repeat: no-repeat;
    background-image: url(../images/dream-bg.png);
}
#potc2 .right h1{
    margin-top: 0px;
    font-size: 50px;
}
#potc2 .text h1{
    font-size: 30px;
}
#potc2 .left img{
   width: 80%;
}
#potc2 .textt{
    font-size: 40px;
    color: rgb(0, 157, 255);
}
#potc2 .link2{
    text-decoration: none;
    color: white;
    border-radius: 5px;
    padding: 10px 40px;
    line-height: 50px;
    background-image: linear-gradient(rgb(0, 149, 255),rgb(0, 26, 255));
}